@font-face {
  font-family: mulish;
  src: url(../webfonts/Mulish-Regular.ttf);
  font-weight: normal;
}
@font-face {
  font-family: mulish;
  src: url(../webfonts/Mulish-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: mulish;
  src: url(../webfonts/Mulish-Italic.ttf);
  font-style: italic;
}

:root {
  --spacing-1: 8px;
  --spacing-2: 12px;
  --spacing-3: 16px;
  --spacing-4: 24px;

  --font-color: #333333;
  --font-size-regular: 16px;
  --font-size-small: 14px;
  --font-size-large: 18px;
  --font-size-huge: 28px;

  --bg-color-home: #f5deb3;
  --bg-color-about: #eedbdb;
  --bg-color-projects: #cecbcb;
  --bg-color-skills: #cbdadb;
  --bg-color-contact: #d3c8b8;
}

html {
  scroll-behavior: smooth;
}

html, body {
  color: var(--font-color);
}

body {
  font-family: mulish, Sans;
  font-size: var(--font-size-regular);
  margin: 0;
  padding: 0 var(--spacing-3);
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
}

header .header-left {
  height: 100px;
  flex-grow: 1;
}

header .header-right {
  margin-left: 2%;
}

header nav ul {
  display: flex;
  align-items: center;
}

header nav ul li {
  margin-left: 10px;
}

header nav ul li a {
  color: var(--font-color);
  text-decoration: none;
  padding: 0 5px 5px 5px;
  background-size: 0% 0.2em;
  background-position-y: 100%;
  background-position-x: 0%, 100%;
  background-repeat: no-repeat;
  transition: background-size 0.2s ease-in-out;
}

header nav ul li a:hover,
header nav ul li a:focus,
header nav ul li a:active {
background-size: 100% 0.2em;
}

header nav ul li a.home-link {
  background-image: linear-gradient(var(--bg-color-home), var(--bg-color-home)), linear-gradient(var(--bg-color-home), var(--bg-color-home));
}

header nav ul li a.about-link {
  background-image: linear-gradient(var(--bg-color-about), var(--bg-color-about)), linear-gradient(var(--bg-color-about), var(--bg-color-about));
}

header nav ul li a.projects-link {
  background-image: linear-gradient(var(--bg-color-projects), var(--bg-color-projects)), linear-gradient(var(--bg-color-projects), var(--bg-color-projects));
}

header nav ul li a.skills-link {
  background-image: linear-gradient(var(--bg-color-skills), var(--bg-color-skills)), linear-gradient(var(--bg-color-skills), var(--bg-color-skills));
}

header nav ul li a.contact-link {
  background-image: linear-gradient(var(--bg-color-contact), var(--bg-color-contact)), linear-gradient(var(--bg-color-contact), var(--bg-color-contact));
}

header .main-title {
  margin: 0;
}

footer {
  margin-top: auto;
  text-align: center;
}

footer p {
  margin: 0;
}

/* START Masonry-like Grid https://tobiasahlin.com/blog/common-flexbox-patterns/#masonry-or-mosaic */
main {
  display: flex;
  flex-flow: column wrap;
  align-content: space-between;
  height: 1100px; /* must be a fixed height, taller than tallest column of content for css "masonry" to work */
}

main article {
  width: 32%;
  margin-bottom: 2%; /* (100-32*3)/2 */
  border-radius: 10px;
  padding: 0 var(--spacing-2);
}

main article figure img {
  width: 100%;
}

main article figure figcaption {
  font-size: var(--font-size-small);
  font-style: italic;
}

main article .skills-container {
  display: flex;
  flex-flow: row wrap;
  gap: 12px;
}

main article i {
  font-size: var(--font-size-huge);
}

/* Re-order items into rows */
article:nth-child(3n+1) { order: 1; }
article:nth-child(3n+2) { order: 2; }
article:nth-child(3n)   { order: 3; }

/* Force new columns */
main::before,
main::after {
  content: "";
  flex-basis: 100%;
  width: 0;
  order: 2;
}
/* END Masonry-like Grid */

.about {
  background-color: var(--bg-color-about);
}

.projects {
  background-color: var(--bg-color-projects);
}

.skills {
  background-color: var(--bg-color-skills);
}

.articles-inactive {
  display: none;
}
